<section id="toc" class="table-of-contents {{ include.expanded }}">
  <div
      id="toc-headline"
      class="headline {% if include.expanded != "expanded" -%}clickable{% endif -%}"
      role="button"
  >
      <span>
          Inhoudsopgave
      </span>

      {% if include.expanded != "expanded" -%}
      <span class="small-message">Click to expand</span>
      {% endif -%}
  </div>
  <div
      class="contents"
  >
      <ul>
          <li>
              <a href="/nl/rapport#managementsamenvatting">Managementsamenvatting</a></li>
          <li>
              <a href="/nl/rapport#1-inleiding">1. Inleiding</a>
              <ul>
                  <li>
                      <a href="/nl/rapport#1-1-wat-is-een-koloniale-collectie">1.1 Wat is een koloniale collectie?</a>
                  </li>
                  <li>
                      <a href="/nl/rapport#1-2-koloniale-collecties-in-beligie-oorsprong">1.2 Koloniale collecties in België: oorsprong</a>
                      <ul>
                          <li>
                              <a href="/nl/rapport#1-2-1-collecties-uit-de-belgische-kolonies">1.2.1 Collecties uit de Belgische kolonies</a>
                          </li>
                          <li>
                              <a href="/nl/rapport#1-2-2-andere-koloniale-collecties-in-belgie">1.2.2 Andere koloniale collecties in België</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li>
              <a href="/nl/rapport#2-wettelijk-kader">2. Wettelijk kader</a>
              <ul>
                  <li>
                      <a href="/nl/rapport#2-1-bestaande-wettelijke-instrumenten">2.1 Existing legal instruments</a>
                      <ul>
                          <li>
                              <a href="/nl/rapport#2-1-1-de-unesco-conventie-van-1970">2.1.1 De UNESCO-conventie van 14/11/1970 en de onvolledige omzetting ervan in België</a>
                          </li>
                          <li>
                              <a href="/nl/rapport#2-1-2-de-unidroit-conventie-van-1995">2.1.2 De Unidroit-conventie van 24/06/1995 en de weigering van Belgische ratificatie</a>
                          </li>
                          <li>
                              <a href="/nl/rapport#2-1-3-het-belgisch-burgerlijk-recht-is-standaard-van-toepassing-en-bevoordeelt-de-bezitter">2.1.3 Het Belgisch burgerlijk recht is standaard van toepassing en bevoordeelt de bezitter</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="/nl/rapport#2-2-regelgevende-instrumenten-van-zachte-wetgeving">2.2 Regelgevende instrumenten van zachte wetgeving</a>
                      <ul>
                          <li>
                              <a href="/nl/rapport#2-2-1-het-intergouvernementeel-comite-van-de-unesco">2.2.1 Het Intergouvernementeel Comité van de UNESCO voor de bevordering van de teruggave van cultuurgoederen aan de landen van herkomst of de restitutie ervan in geval van onrechtmatige toe- eigening (ICPRCP), 1978</a>
                          </li>
                          <li>
                              <a href="/nl/rapport#2-2-2-washington-principles-on-nazi-looted-art-1998">2.2.2 Washington Principles on Nazi-looted art, 1998</a>
                          </li>
                          <li>
                              <a href="/nl/rapport#2-2-3-ethische-code-van-icom-2004">2.2.3 Ethische code van ICOM, 2004</a>
                          </li>
                          <li>
                              <a href="/nl/rapport#2-2-4-verklaring-van-de-verenigde-naties-over-de-rechten-van-inheemse-volken-2007">2.2.4 Verklaring van de Verenigde Naties over de rechten van inheemse volken, 2007</a>
                          </li>
                          <li>
                              <a href="/nl/rapport#2-2-5-verklaring-van-abuja-1993">2.2.5 Verklaring van Abuja, 1993</a>
                          </li>
                          <li>
                              <a href="/nl/rapport#2-2-6-handvest-voor-afrikaanse-culturele-renaissance-2006">2.2.6 Handvest voor Afrikaanse culturele renaissance, 2006</a>
                          </li>
                          <li>
                              <a href="/nl/rapport#2-2-7-nagpra-1990">2.2.7 NAGPRA, 1990</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="/nl/rapport#2-3-naar-een-nieuw-wettelijk-kader">2.3 Naar een nieuw wettelijk kader</a>
                      <ul>
                          <li>
                              <a href="/nl/rapport#2-3-1-mensenrechten-en-cultureel-erfgoed">2.3.1 Mensenrechten en cultureel erfgoed: de erkenning van het fundamentele recht op cultureel erfgoed opent het debat over de teruggave van collecties</a>
                          </li>
                          <li>
                              <a href="/nl/rapport#2-3-2-een-specifiek-wettelijk-kader">2.3.2 Een specifiek wettelijk kader</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li>
              <a href="/nl/rapport#3-verzoeken-om-restitutie">3. Verzoeken om restitutie</a>
              <ul>
                  <li>
                      <a href="/nl/rapport#3-1-geschiedenis-van-restitutiedebatten-en-vragen">3.1 Geschiedenis van restitutiedebatten en -vragen</a>
                  </li>
                  <li>
                      <a href="/nl/rapport#3-2-restitutie">3.2 Restitutie: Wie, wat en hoe? Enkele richtlijnen.</a>
                  </li>
                  <li>
                      <a href="/nl/rapport#3-3-recente-officiele-en-wetenschappelijke-belgische-projecten-en-resoluties">3.3 Recente officiële en wetenschappelijke Belgische projecten en resoluties</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="/nl/rapport#4-toegankelijkheid-van-informatie">4. Toegankelijkheid van informatie</a>
              <ul>
                  <li>
                      <a href="/nl/rapport#4-1-toegang-tot-inventarissen">4.1 Toegang tot inventarissen</a>
                  </li>
                  <li>
                      <a href="/nl/rapport#4-2-herkomstonderzoek">4.2 Herkomstonderzoek: beperkingen en mogelijkheden</a>
                  </li>
                  <li>
                      <a href="/nl/rapport#4-3-financiering">4.3 Financiering</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="/nl/rapport#5-museum-en-tenteoonstellingspraktijken">5. Museum- en tentoonstellingspraktijken</a>
              <ul>
                  <li>
                      <a href="/nl/rapport#5-1-multidimensioneel-en-inclusief-collectiebeheer-en-tentoonstellingsontwerp">5.1 Multidimensioneel en inclusief collectiebeheer en tentoonstellingsontwerp</a>
                  </li>
                  <li>
                      <a href="/nl/rapport#5-2-contextualisering-van-objecten">5.2 Contextualisering van objecten</a>
                  </li>
                  <li>
                      <a href="/nl/rapport#5-3-taal">5.3 Taal</a>
                  </li>
                  <li>
                      <a href="/nl/rapport#5-4-opleiding-voor-de-bewustmaking-van-het-personeel">5.4 Opleiding voor de bewustmaking van het personeel</a>
                  </li>
                  <li>
                      <a href="/nl/rapport#5-5-verwijdering-uit-de-openbare-tentoonstelling">5.5 Verwijdering uit de openbare tentoonstelling</a>
                  </li>
                  <li>
                      <a href="/nl/rapport#5-6-bruiklenen-en-externe-publicaties">5.6 Bruiklenen en externe publicaties</a>
                  </li>
                  <li>
                      <a href="/nl/rapport#5-7-menselijke-resten">5.7 Menselijke resten</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="/nl/rapport#conclusies">Conclusies en slotaanbevelingen</a>
          </li>
          <li>
              <a href="/nl/rapport#colofon">Colofon</a>
          </li>
          <li>
              <a href="/nl/rapport#woordenlijst">Woordenlijst</a>
          </li>
          <li>
              <a href="/nl/rapport#">Bibliografie + aanbevolen literatuur</a>
          </li>
      </ul>
  </div>
</section>

{% if include.expanded != "expanded" %}
  <script>
  const toc = document.getElementById('toc');

  const tocHeadline = document.getElementById('toc-headline');

  tocHeadline.addEventListener('click', (e) => {
      e.preventDefault();
      e.stopPropagation();

      if (toc.classList.contains('expanded')) {
          toc.classList.remove('expanded');
      } else {
          toc.classList.add('expanded');
      }
  });
  </script>
{% endif %}
