<section id="toc" class="table-of-contents {{ include.expanded }}">
    <div
        id="toc-headline"
        class="headline {% if include.expanded != "expanded" -%}clickable{% endif -%}"
        role="button"
    >
        <span>
            Table of Contents
        </span>

        {% if include.expanded != "expanded" -%}
        <span class="small-message">Click to expand</span>
        {% endif -%}
    </div>
    <div
        class="contents"
    >
        <ul>
            <li>
                <a href="/en/report#executive-summary">Executive Summary</a></li>
            <li>
                <a href="/en/report#1-introduction">1. Introduction</a>
                <ul>
                    <li>
                        <a href="/en/report#1-1-what-is-a-colonial-collection">1.1 What is a colonial collection?</a>
                    </li>
                    <li>
                        <a href="/en/report#1-2-colonial-collections-in-belgium-origins">1.2 Colonial collections in Belgium: origins</a>
                        <ul>
                            <li>
                                <a href="/en/report#1-2-1-collections-linked-to-belgian-colonies">1.2.1 Collections linked to Belgian colonies</a>
                            </li>
                            <li>
                                <a href="/en/report#1-2-2-other-colonial-collections-in-belgium">1.2.2 Other colonial collections in Belgium</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/en/report#2-legal-framework">2. Legal Framework</a>
                <ul>
                    <li>
                        <a href="/en/report#2-1-existing-legal-instruments">2.1 Existing legal instruments</a>
                        <ul>
                            <li>
                                <a href="/en/report#2-1-1-the-unesco-convention-of-1970">2.1.1 The UNESCO Convention of 14/11/1970 and its incomplete transposition in Belgium</a>
                            </li>
                            <li>
                                <a href="/en/report#2-1-2-the-unidroit-convention-of-1995">2.1.2 The Unidroit Convention of 24/06/1995 and the refusal of Belgian ratification</a>
                            </li>
                            <li>
                                <a href="/en/report#2-1-3-belgian-civil-law-applies-as-default-and-consolidates-the-possessor">2.1.3 Belgian civil law applies as default and consolidates the possessor</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/en/report#2-2-regulatory-instruments-of-soft-law">2.2. Regulatory instruments of soft law</a>
                        <ul>
                            <li>
                                <a href="/en/report#2-2-1-the-unesco-intergovernmental-committee-1978">2.2.1 The UNESCO Intergovernmental Committee for Promoting the Return of Cultural Property to its Countries of Origin or its Restitution in case of Illicit Appropriation (ICPRCP), 1978</a>
                            </li>
                            <li>
                                <a href="/en/report#2-2-2-washington-principles-on-nazi-looted-art-1998">2.2.2 Washington Principles on Nazi-looted art, 1998</a>
                            </li>
                            <li>
                                <a href="/en/report#2-2-3-icom-code-of-ethics-2004">2.2.3 ICOM Code of Ethics, 2004</a>
                            </li>
                            <li>
                                <a href="/en/report#2-2-4-united-nations-declaration-on-the-rights-of-indigenous-peoples-2007">2.2.4 United Nations Declaration on the Rights of Indigenous Peoples, 2007</a>
                            </li>
                            <li>
                                <a href="/en/report#2-2-5-abuja-proclamation-1993">2.2.5 Abuja Proclamation, 1993</a>
                            </li>
                            <li>
                                <a href="/en/report#2-2-6-charter-for-african-cultural-renaissance-2006">2.2.6 Charter for African Cultural Renaissance, 2006</a>
                            </li>
                            <li>
                                <a href="/en/report#2-2-7-nagpra-1990">2.2.7 NAGPRA, 1990</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/en/report#2-3-towards-a-new-legal-framework">2.3 Towards a New Legal Framework</a>
                        <ul>
                            <li>
                                <a href="/en/report#2-3-1-human-rights-and-cultural-heritage">2.3.1 Human rights and cultural heritage: the recognition of a fundamental right to cultural heritage opens the debate on the return of collections</a>
                            </li>
                            <li>
                                <a href="/en/report#2-3-2-a-specific-legal-framework">2.3.2 A specific legal framework</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/en/report#3-requests-for-restitution">3. Requests for Restitution</a>
                <ul>
                    <li>
                        <a href="/en/report#3-1-history-of-restitution-debates-and-demands">3.1 History of restitution debates and demands</a>
                    </li>
                    <li>
                        <a href="/en/report#3-2-restitution">3.2 Restitution: Who, what and how? Some guidelines.</a>
                    </li>
                    <li>
                        <a href="/en/report#3-3-recent-official-and-scientific-belgian-projects-and-resolutions">3.3 Recent Official and Scientific Belgian Projects and Resolutions</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/en/report#4-accessibility-of-information">4. Accessibility of Information</a>
                <ul>
                    <li>
                        <a href="/en/report#4-1-access-to-inventories">4.1 Access to inventories</a>
                    </li>
                    <li>
                        <a href="/en/report#4-2-provenance-research-limitations-and-possibilities">4.2 Provenance Research: Limitations and Possibilities</a>
                    </li>
                    <li>
                        <a href="/en/report#4-3-financing">4.3 Financing</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/en/report#5-museum-and-display-practices">5. Museum and Display Practices</a>
                <ul>
                    <li>
                        <a href="/en/report#5-1-multi-dimensional-and-inclusive-collection-management-and-exhibition-design">5.1 Multi-dimensional and inclusive collection management and exhibition design</a>
                    </li>
                    <li>
                        <a href="/en/report#5-2-contextualisation-of-objects">5.2 Contextualisation of objects</a>
                    </li>
                    <li>
                        <a href="/en/report#5-3-language">5.3 Language</a>
                    </li>
                    <li>
                        <a href="/en/report#5-4-staff-awareness-training">5.4 Staff awareness training</a>
                    </li>
                    <li>
                        <a href="/en/report#5-5-removal-from-public-display">5.5 Removal from public display</a>
                    </li>
                    <li>
                        <a href="/en/report#5-6-loans-and-external-publications">5.6 Loans and external publications</a>
                    </li>
                    <li>
                        <a href="/en/report#5-7-human-remains">5.7 Human remains</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/en/report#conclusions">Conclusions and Final Recommendations</a>
            </li>
            <li>
                <a href="/en/report#glossary">Glossary</a>
            </li>
            <li>
                <a href="/en/report#bibliography-and-recommended-reading">Recommended Reading</a>
            </li>
        </ul>
    </div>
</section>

{% if include.expanded != "expanded" %}
    <script>
    const toc = document.getElementById('toc');

    const tocHeadline = document.getElementById('toc-headline');

    tocHeadline.addEventListener('click', (e) => {
        e.preventDefault();
        e.stopPropagation();

        if (toc.classList.contains('expanded')) {
            toc.classList.remove('expanded');
        } else {
            toc.classList.add('expanded');
        }
    });
    </script>
{% endif %}
